@charset "UTF-8";
:root {
  font-size: 20px; }

@media (min-width: 320px) and (max-width: 1280px) {
  :root {
    font-size: calc( 20px + (28 - 20) * ( (100vw - 320px) / ( 1280 - 320))); } }

@media (min-width: 1280px) {
  :root {
    font-size: 28px; } }

@font-face {
  font-family: 'Bungee Regular';
  src: url("../assets/fonts/bungee-regular.eot");
  src: url("../assets/fonts/bungee-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/bungee-regular.woff2") format("woff2"), url("../assets/fonts/bungee-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Bungee Outline';
  src: url("../assets/fonts/bungee-outline.eot");
  src: url("../assets/fonts/bungee-outline.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/bungee-outline.woff2") format("woff2"), url("../assets/fonts/bungee-outline.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'TTZhiHeiJ';
  src: url("../assets/fonts/TTZhiHeiJ-W5.eot");
  src: url("../assets/fonts/TTZhiHeiJ-W5.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTZhiHeiJ-W5.woff2") format("woff2"), url("../assets/fonts/TTZhiHeiJ-W5.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gentium Basic';
  src: url("../assets/fonts/genbasr.eot");
  src: url("../assets/fonts/genbasr.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/genbasr.woff2") format("woff2"), url("../assets/fonts/genbasr.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gentium Basic';
  src: url("../assets/fonts/genbasb.eot");
  src: url("../assets/fonts/genbasb.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/genbasb.woff2") format("woff2"), url("../assets/fonts/genbasb.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Gentium Basic';
  src: url("../assets/fonts/genbasi.eot");
  src: url("../assets/fonts/genbasi.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/genbasi.woff2") format("woff2"), url("../assets/fonts/genbasi.woff") format("woff");
  font-weight: 400;
  font-style: italic; }

html,
body,
div,
span,
h1,
h2,
h3,
ul,
p,
a,
img,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

main,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

input,
textarea {
  font-size: inherit;
  font-family: inherit; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  font-family: "Gentium Basic", "PingFang TC", "Microsoft JhengHei", "微軟正黑體", "Heiti TC", "黑體-繁", sans-serif; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  overflow-x: hidden; }

section {
  padding: 1.5em 0; }

h2 {
  font-size: 130%; }

p {
  line-height: 1.5; }

.lang-zh h2 {
  margin-left: 0.5em;
  letter-spacing: 0.0625em; }

.lang-zh p {
  letter-spacing: 0.125em; }

.lang-en h2 {
  margin-bottom: 0.5em; }

a {
  text-decoration: none; }
  main a {
    color: #f04c16; }

small {
  font-size: 75%; }

.o-emoji {
  font-family: 'Segoe UI Emoji'; }

span[role=img][aria-label],
span[role=img][aria-label] {
  position: relative; }

span[role=img][aria-label]:focus::after,
span[role=img][aria-label]:hover::after {
  font-size: 50%;
  font-family: "Gentium Basic", "PingFang TC", "Microsoft JhengHei", "微軟正黑體", "Heiti TC", "黑體-繁", sans-serif;
  font-weight: 400;
  position: absolute;
  display: block;
  line-height: 1.2;
  content: attr(aria-label);
  z-index: 1;
  background: #313b4a;
  color: #fff;
  padding: 0.25em;
  border: 1px solid #fff;
  -webkit-box-shadow: 2px 2px 4px #313b4a;
          box-shadow: 2px 2px 4px #313b4a; }

@media print {
  span[role=img][aria-label]::after {
    content: " (" attr(aria-label) ") "; } }

.l-lang__en .o-emoji {
  display: inline-block;
  vertical-align: middle; }

.l-lang__en span[role=img][aria-label]:focus::after,
.l-lang__en span[role=img][aria-label]:hover::after {
  bottom: 3.5em;
  left: 0; }

.l-lang__zh span[role=img][aria-label]:focus::after,
.l-lang__zh span[role=img][aria-label]:hover::after {
  left: 3.5em;
  top: 0;
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb; }

.l-header {
  padding: 2em 0; }

[class*="l-title"] {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.25em; }

.l-title__zh {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl; }

.l-toggle__en:checked ~ .l-lang__en,
.l-toggle__zh:checked ~ .l-lang__zh {
  display: block; }

.ms-wrapper {
  width: 100%; }

@supports (background-image: linear-gradient(to bottom, #f4f1ee, #fff)) {
  .l-lang__en,
  .l-lang__zh {
    display: none; } }

.l-lang__en,
.l-lang__zh {
  padding-top: 0.5em;
  max-width: 35em;
  margin: 0 auto; }

.l-lang__en h2 {
  margin-bottom: 0.5em; }

.l-lang__zh {
  text-align: justify;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  max-height: 13em;
  overflow-x: auto;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }
  @media all and (max-width: 33.6875em) {
    .l-lang__zh {
      max-width: calc(100% - 1em); } }
  @media all and (max-width: 44.9375em) {
    .l-lang__zh {
      max-height: 50vh; } }
  .l-lang__zh h2 {
    margin-left: 0.5em;
    letter-spacing: 2px; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .l-lang__zh {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    max-height: none;
    overflow: initial;
    margin-top: 1em; } }
  @media all and (-ms-high-contrast: none) and (max-width: 33.6875em) {
    .l-lang__zh {
      width: 100%; } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .l-lang__zh .ms-wrapper {
      -webkit-writing-mode: vertical-rl;
          -ms-writing-mode: tb-rl;
              writing-mode: vertical-rl;
      max-height: 13em;
      overflow-x: auto; } }

@supports (-ms-ime-align: auto) {
  .l-lang__zh {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    max-height: none;
    overflow: initial; }
    @media all and (max-width: 33.6875em) {
      .l-lang__zh {
        width: 100%; } }
    .l-lang__zh .ms-wrapper {
      -webkit-writing-mode: vertical-rl;
          -ms-writing-mode: tb-rl;
              writing-mode: vertical-rl;
      max-height: 13em;
      overflow-x: auto; } }

@supports not ((-webkit-writing-mode: vertical-rl) or (writing-mode: vertical-rl)) {
  .l-lang__zh {
    margin-left: initial; } }

.l-stories {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  width: 100%;
  max-width: 35em;
  margin: 0 auto;
  position: relative;
  height: 55vh;
  max-height: 13em; }

.l-stories-title {
  width: 3em; }

@supports (background-image: linear-gradient(to bottom, #f4f1ee, #fff)) {
  width: auto; }

.l-stories-title__en {
  margin-right: 0.5em;
  display: inline-block;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .l-stories {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb; }
    .l-stories .ms-wrapper {
      -webkit-writing-mode: vertical-lr;
          -ms-writing-mode: tb-lr;
              writing-mode: vertical-lr;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .l-stories-title__en {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; } }

@supports (-ms-ime-align: auto) {
  .l-stories {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb; }
    .l-stories .ms-wrapper {
      -webkit-writing-mode: vertical-lr;
          -ms-writing-mode: tb-lr;
              writing-mode: vertical-lr;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .l-stories-title__en {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; } }

.l-shelf {
  width: calc(100% - 6em);
  position: relative;
  padding-left: 1em; }
  .l-shelf:after {
    display: block;
    content: '';
    position: absolute;
    height: 1em;
    width: 100%;
    left: 0;
    bottom: 0; }

.l-story {
  display: block;
  height: calc(100% - 1em); }
  .l-story:nth-child(2), .l-story:nth-child(5n+2) {
    -webkit-transform: rotate(2deg) translateX(0.25em);
        -ms-transform: rotate(2deg) translateX(0.25em);
            transform: rotate(2deg) translateX(0.25em); }
  .l-story:nth-child(3), .l-story:nth-child(4), .l-story:nth-child(5n+3), .l-story:nth-child(5n+4) {
    -webkit-transform: rotate(-2deg) translateX(0.625em);
        -ms-transform: rotate(-2deg) translateX(0.625em);
            transform: rotate(-2deg) translateX(0.625em); }
  .l-story:nth-child(5), .l-story:nth-child(5n+5) {
    -webkit-transform: rotate(4deg) translateX(1.25em);
        -ms-transform: rotate(4deg) translateX(1.25em);
            transform: rotate(4deg) translateX(1.25em);
    margin-right: 1.65em; }

@supports not ((-webkit-writing-mode: vertical-rl) or (writing-mode: vertical-rl)) {
  .l-shelf::after {
    display: none; } }

.l-more-stories {
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
  margin-left: 1em;
  padding: 0.125em 0.5em;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.l-resources {
  max-width: 35em;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }
  @media all and (max-width: 33.6875em) {
    .l-resources {
      max-width: calc(100% - 1em); } }
  .l-resources h2 {
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    width: 1.3em; }

.l-links {
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.7em;
          flex: 1 1 33.7em; }

.l-link {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 1.5em);
          flex: 0 0 calc(50% - 1.5em);
  padding: 1.5em 0.5em 3em;
  margin: 0 0.25em 0.5em;
  -webkit-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
          transform: rotate(-2deg);
  position: relative; }
  .l-link:nth-child(even) {
    -webkit-transform: rotate(2deg);
        -ms-transform: rotate(2deg);
            transform: rotate(2deg); }
  .l-link:nth-child(3n) {
    -webkit-transform: translateY(-0.5em);
        -ms-transform: translateY(-0.5em);
            transform: translateY(-0.5em); }
  .l-link:nth-child(5n) {
    -webkit-transform: rotate(4deg) translateX(-0.5em);
        -ms-transform: rotate(4deg) translateX(-0.5em);
            transform: rotate(4deg) translateX(-0.5em); }
  @media all and (min-width: 33.75em) and (max-width: 44.9375em) {
    .l-link {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 calc((100% / 3) - 1.5em);
              flex: 0 0 calc((100% / 3) - 1.5em); } }
  @media all and (min-width: 45em) {
    .l-link {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 calc(25% - 1.5em);
              flex: 0 0 calc(25% - 1.5em); } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .l-link {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%; } }

.l-link__tag {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em; }

@supports (background-image: linear-gradient(to bottom, #f4f1ee, #fff)) {
  .lang-toggle__en,
  .lang-toggle__zh {
    line-height: 3em; }
  .lang-toggle__zh {
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    height: 3em;
    text-align: center; }
  input[name="language"] {
    float: left;
    opacity: 0;
    position: absolute; }
    input[name="language"] ~ label {
      background-color: #f4f1ee;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f1ee), to(#fff));
      background-image: -o-linear-gradient(top, #f4f1ee, #fff);
      background-image: linear-gradient(to bottom, #f4f1ee, #fff);
      border-radius: 50%;
      -webkit-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.3), inset 0 4px 1px 1px #fff, inset 0 -3px 1px 1px rgba(204, 198, 197, 0.5);
              box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.3), inset 0 4px 1px 1px #fff, inset 0 -3px 1px 1px rgba(204, 198, 197, 0.5);
      display: inline-block;
      vertical-align: middle;
      padding: 0.5em;
      font-size: 75%;
      -webkit-transition: background 0.1s linear, -webkit-box-shadow 0.1s linear;
      transition: background 0.1s linear, -webkit-box-shadow 0.1s linear;
      -o-transition: background 0.1s linear, box-shadow 0.1s linear;
      transition: background 0.1s linear, box-shadow 0.1s linear;
      transition: background 0.1s linear, box-shadow 0.1s linear, -webkit-box-shadow 0.1s linear;
      margin: 0 1em 1em; }
  .l-toggle__en:checked ~ label[for="lang-en"],
  .l-toggle__zh:checked ~ label[for="lang-zh"] {
    background-color: #efedec;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#efedec), to(#f7f4f4));
    background-image: -o-linear-gradient(top, #efedec, #f7f4f4);
    background-image: linear-gradient(to bottom, #efedec, #f7f4f4);
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4), inset 0 -3px 1px 1px rgba(204, 198, 197, 0.5);
            box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4), inset 0 -3px 1px 1px rgba(204, 198, 197, 0.5);
    color: #4cb09c;
    text-shadow: 1px 1px 3px #5db9a6; }
  .l-toggle__en:focus ~ label[for="lang-en"],
  .l-toggle__zh:focus ~ label[for="lang-zh"] {
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4), inset 0 -3px 1px 1px rgba(204, 198, 197, 0.5), 0 0 0.3em 1px #4cb09c, 0 1px 1px rgba(255, 255, 255, 0.8);
            box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4), inset 0 -3px 1px 1px rgba(204, 198, 197, 0.5), 0 0 0.3em 1px #4cb09c, 0 1px 1px rgba(255, 255, 255, 0.8); } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .lang-toggle__en,
  .lang-toggle__zh,
  input[name="language"] {
    display: none; } }

@supports not (background-image: linear-gradient(to bottom, #f4f1ee, #fff)) {
  .lang-toggle__en,
  .lang-toggle__zh,
  input[name="language"] {
    display: none; } }

.c-newsletter {
  padding: 1em 0;
  text-align: center;
  font-size: 75%;
  background: -o-linear-gradient(315deg, transparent 22px, rgba(237, 189, 31, 0.3) 22px, rgba(237, 189, 31, 0.3) 24px, transparent 24px, transparent 67px, rgba(237, 189, 31, 0.3) 67px, rgba(237, 189, 31, 0.3) 69px, transparent 69px), -o-linear-gradient(225deg, transparent 22px, rgba(237, 189, 31, 0.3) 22px, rgba(237, 189, 31, 0.3) 24px, transparent 24px, transparent 67px, rgba(237, 189, 31, 0.3) 67px, rgba(237, 189, 31, 0.3) 69px, transparent 69px) 0 64px;
  background: linear-gradient(135deg, transparent 22px, rgba(237, 189, 31, 0.3) 22px, rgba(237, 189, 31, 0.3) 24px, transparent 24px, transparent 67px, rgba(237, 189, 31, 0.3) 67px, rgba(237, 189, 31, 0.3) 69px, transparent 69px), linear-gradient(225deg, transparent 22px, rgba(237, 189, 31, 0.3) 22px, rgba(237, 189, 31, 0.3) 24px, transparent 24px, transparent 67px, rgba(237, 189, 31, 0.3) 67px, rgba(237, 189, 31, 0.3) 69px, transparent 69px) 0 64px;
  background-color: rgba(237, 189, 31, 0.2);
  background-size: 64px 128px; }
  .c-newsletter a {
    display: inline-block; }
  .c-newsletter a:hover img {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2); }
  .c-newsletter span {
    vertical-align: middle; }
  .c-newsletter img {
    height: 1em;
    width: 1em;
    -webkit-transition: -webkit-transform 0.2s ease-out;
    transition: -webkit-transform 0.2s ease-out;
    -o-transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
    vertical-align: middle; }

.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 0.5em 0.5em 1em;
  max-width: 12em;
  width: calc(100% - 2em); }

.input__field {
  width: 100%;
  background: transparent;
  padding: 0.5em 0;
  position: relative;
  display: block;
  float: right;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none; }
  .input__field:focus {
    outline: 0; }

.input__label {
  width: 100%;
  position: absolute;
  text-align: left;
  padding: 0.5em 0;
  pointer-events: none;
  display: inline-block;
  float: right;
  color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .input__label::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.25em;
    background: rgba(0, 0, 0, 0.3);
    left: 0;
    top: 100%;
    -webkit-transform-origin: 50% 100%;
        -ms-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
    transition: background-color 0.3s, -webkit-transform 0.3s;
    -o-transition: transform 0.3s, background-color 0.3s;
    transition: transform 0.3s, background-color 0.3s;
    transition: transform 0.3s, background-color 0.3s, -webkit-transform 0.3s; }

@supports (transform: translate3d(0, 0, 0)) or (-webkit-transform: translate3d(0, 0, 0)) {
  .js ::-webkit-input-placeholder {
    color: transparent; }
  .js ::-moz-placeholder {
    color: transparent; }
  .js :-ms-input-placeholder {
    color: transparent; }
  .js :-moz-placeholder {
    color: transparent; }
  .js .input__label {
    color: rgba(49, 59, 74, 0.75); }
  .js .input__label-content {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transition: color 0.3s, -webkit-transform 0.3s;
    transition: color 0.3s, -webkit-transform 0.3s;
    -o-transition: transform 0.3s, color 0.3s;
    transition: transform 0.3s, color 0.3s;
    transition: transform 0.3s, color 0.3s, -webkit-transform 0.3s; }
  .js .input__field:focus + .input__label::after,
  .js .input--filled .input__label::after {
    background: #f04c16;
    -webkit-transform: scale3d(1, 0.25, 1);
            transform: scale3d(1, 0.25, 1); }
  .js .input__field:focus + .input__label .input__label-content,
  .js .input--filled .input__label .input__label-content {
    color: #f04c16;
    font-weight: 700;
    -webkit-transform: translate3d(0, 2em, 0) scale3d(0.8, 0.8, 1);
            transform: translate3d(0, 2em, 0) scale3d(0.8, 0.8, 1); } }

input[type="submit"] {
  background: #f04c16;
  border: 0;
  padding: 0.25em 0.5em;
  color: #fff; }
  input[type="submit"]:hover {
    cursor: pointer; }

.l-contact {
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.c-contact {
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0; }
  .c-contact:target {
    visibility: visible;
    opacity: 1; }

.l-contact__close {
  position: absolute;
  z-index: 3;
  right: 0.5em;
  top: 0.25em; }

.l-contact__form {
  position: relative;
  padding: 1em; }
  @media all and (max-width: 33.6875em) {
    .l-contact__form {
      width: calc(100vw - 2em); } }
  @media all and (min-width: 33.75em) {
    .l-contact__form {
      width: 50vw; } }
  .l-contact__form label {
    display: block;
    margin-bottom: 0.25em; }
  .l-contact__form input:not([type="submit"]),
  .l-contact__form textarea {
    margin-bottom: 0.5em; }
  .l-contact__form textarea {
    width: 100%; }
  .l-contact__form p {
    margin-bottom: 1em; }

.c-contact__form {
  background: #dbdbd0; }

.l-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1.5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }

.c-footer {
  background-color: #313b4a;
  color: #dbdbd0; }
  .c-footer a {
    color: #edbd1f; }

.c-contact__icon {
  margin-left: 0.5em;
  height: 1em;
  width: 1em; }

.c-header {
  background-image: url("../assets/img/header.jpg");
  background-size: cover;
  background-position: center; }

.c-title {
  text-align: center;
  color: #fff; }

.c-title__en,
.c-title__zh {
  font-family: "Bungee Regular", "Arial Black", "Arial Bold", "TTZhiHeiJ", "Hei", "Microsoft YaHei", sans-serif;
  font-weight: 400; }

.c-title__en {
  font-size: calc(1.5em + 3vw);
  text-align: right; }

.c-title__zh {
  font-size: calc(1em + 2vw); }

.c-content {
  text-align: center;
  background-color: #dbdbd0;
  color: #313b4a; }

.c-shelf::after {
  background-color: saddlebrown;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), color-stop(10%, transparent), color-stop(90%, rgba(0, 0, 0, 0.2)));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.2), transparent 10%, rgba(0, 0, 0, 0.2) 90%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent 10%, rgba(0, 0, 0, 0.2) 90%);
  border-radius: 1em;
  -webkit-box-shadow: 0 0.375em 0.375em 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.375em 0.375em 0 rgba(0, 0, 0, 0.3); }

.c-story:nth-child(5n + 1) {
  background-color: #f04c16;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.2)), color-stop(10%, transparent), color-stop(90%, rgba(0, 0, 0, 0.2)));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.2), transparent 10%, rgba(0, 0, 0, 0.2) 90%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), transparent 10%, rgba(0, 0, 0, 0.2) 90%); }
  .c-story:nth-child(5n + 1) a {
    color: #313b4a; }

.c-story:nth-child(5n + 2) {
  background-color: #4cb09c;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.2)), color-stop(10%, transparent), color-stop(90%, rgba(0, 0, 0, 0.2)));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.2), transparent 10%, rgba(0, 0, 0, 0.2) 90%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), transparent 10%, rgba(0, 0, 0, 0.2) 90%); }
  .c-story:nth-child(5n + 2) a {
    color: #313b4a; }

.c-story:nth-child(5n + 3) {
  background-color: #edbd1f;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.2)), color-stop(10%, transparent), color-stop(90%, rgba(0, 0, 0, 0.2)));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.2), transparent 10%, rgba(0, 0, 0, 0.2) 90%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), transparent 10%, rgba(0, 0, 0, 0.2) 90%); }
  .c-story:nth-child(5n + 3) a {
    color: #313b4a; }

.c-story:nth-child(5n + 4) {
  background-color: #313b4a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.2)), color-stop(10%, transparent), color-stop(90%, rgba(0, 0, 0, 0.2)));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.2), transparent 10%, rgba(0, 0, 0, 0.2) 90%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), transparent 10%, rgba(0, 0, 0, 0.2) 90%); }
  .c-story:nth-child(5n + 4) a {
    color: #fff; }

.c-story:nth-child(5n + 5) {
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.2)), color-stop(10%, transparent), color-stop(90%, rgba(0, 0, 0, 0.2)));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.2), transparent 10%, rgba(0, 0, 0, 0.2) 90%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), transparent 10%, rgba(0, 0, 0, 0.2) 90%); }
  .c-story:nth-child(5n + 5) a {
    color: #313b4a; }

.c-link {
  background-color: #313b4a;
  color: #f04c16;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3), inset 0 0 0 0.25em #fff, inset 0 -1em 0 0.25em #fff;
          box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3), inset 0 0 0 0.25em #fff, inset 0 -1em 0 0.25em #fff; }
  .c-link p {
    line-height: 1.2; }

.u-rotate {
  display: inline-block;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.u-txt-upright {
  text-combine-upright: all; }
