@charset "UTF-8";
:root {
  font-size: 20px; }

@media (min-width: 320px) and (max-width: 1280px) {
  :root {
    font-size: calc( 20px + (28 - 20) * ( (100vw - 320px) / ( 1280 - 320))); } }

@media (min-width: 1280px) {
  :root {
    font-size: 28px; } }

@font-face {
  font-family: 'Bungee Regular';
  src: url("../assets/fonts/bungee-regular.eot");
  src: url("../assets/fonts/bungee-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/bungee-regular.woff2") format("woff2"), url("../assets/fonts/bungee-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Bungee Outline';
  src: url("../assets/fonts/bungee-outline.eot");
  src: url("../assets/fonts/bungee-outline.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/bungee-outline.woff2") format("woff2"), url("../assets/fonts/bungee-outline.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'TTZhiHeiJ';
  src: url("../assets/fonts/TTZhiHeiJ-W5.eot");
  src: url("../assets/fonts/TTZhiHeiJ-W5.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTZhiHeiJ-W5.woff2") format("woff2"), url("../assets/fonts/TTZhiHeiJ-W5.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gentium Basic';
  src: url("../assets/fonts/genbasr.eot");
  src: url("../assets/fonts/genbasr.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/genbasr.woff2") format("woff2"), url("../assets/fonts/genbasr.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gentium Basic';
  src: url("../assets/fonts/genbasb.eot");
  src: url("../assets/fonts/genbasb.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/genbasb.woff2") format("woff2"), url("../assets/fonts/genbasb.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Gentium Basic';
  src: url("../assets/fonts/genbasi.eot");
  src: url("../assets/fonts/genbasi.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/genbasi.woff2") format("woff2"), url("../assets/fonts/genbasi.woff") format("woff");
  font-weight: 400;
  font-style: italic; }

html,
body,
div,
span,
h1,
h2,
h3,
ul,
p,
a,
img,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

main,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

input,
textarea {
  font-size: inherit;
  font-family: inherit; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  font-family: "Gentium Basic", "PingFang TC", "Microsoft JhengHei", "微軟正黑體", "Heiti TC", "黑體-繁", sans-serif; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  overflow-x: hidden; }

section {
  padding: 1.5em 0; }

h2 {
  font-size: 130%; }

p {
  line-height: 1.5; }

.lang-zh h2 {
  margin-left: 0.5em;
  letter-spacing: 0.0625em; }

.lang-zh p {
  letter-spacing: 0.125em; }

.lang-en h2 {
  margin-bottom: 0.5em; }

a {
  text-decoration: none; }
  main a {
    color: #f04c16; }

small {
  font-size: 75%; }

a {
  color: #f04c16; }

.o-emoji {
  font-family: 'Segoe UI Emoji'; }

span[role=img][aria-label],
span[role=img][aria-label] {
  position: relative; }

span[role=img][aria-label]:focus::after,
span[role=img][aria-label]:hover::after {
  font-size: 50%;
  font-family: "Gentium Basic", "PingFang TC", "Microsoft JhengHei", "微軟正黑體", "Heiti TC", "黑體-繁", sans-serif;
  font-weight: 400;
  position: absolute;
  display: block;
  line-height: 1.2;
  content: attr(aria-label);
  z-index: 1;
  background: #313b4a;
  color: #fff;
  padding: 0.25em;
  border: 1px solid #fff;
  -webkit-box-shadow: 2px 2px 4px #313b4a;
          box-shadow: 2px 2px 4px #313b4a; }

@media print {
  span[role=img][aria-label]::after {
    content: " (" attr(aria-label) ") "; } }

.l-lang__en .o-emoji {
  display: inline-block;
  vertical-align: middle; }

.l-lang__en span[role=img][aria-label]:focus::after,
.l-lang__en span[role=img][aria-label]:hover::after {
  bottom: 3.5em;
  left: 0; }

.l-lang__zh span[role=img][aria-label]:focus::after,
.l-lang__zh span[role=img][aria-label]:hover::after {
  left: 3.5em;
  top: 0;
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb; }

.l-post {
  text-align: center; }
  @media all and (min-height: 43.75em) {
    .l-post {
      min-height: calc(100vh - 1.5em); } }

.l-toggle__en:checked ~ .l-lang__en,
.l-toggle__zh:checked ~ .l-lang__zh {
  display: block; }

@supports (background-image: linear-gradient(to bottom, #f4f1ee, #fff)) {
  .l-lang__en,
  .l-lang__zh {
    display: none; } }

.l-lang__en,
.l-lang__zh {
  padding-top: 0.5em;
  max-height: 65vh;
  overflow-x: auto; }

.l-lang__en {
  text-align: left;
  max-width: 35em;
  margin: 0 auto;
  padding: 0 0.5em; }
  .l-lang__en p {
    margin-bottom: 0.5em; }

.l-lang__zh {
  text-align: justify;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  max-width: calc(100% - 1em);
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }
  @media all and (max-width: 33.6875em) {
    .l-lang__zh {
      max-height: 65vh; } }
  @media all and (min-width: 33.75em) and (max-width: 44.9375em) {
    .l-lang__zh {
      max-height: 60vh; } }
  .l-lang__zh h2 {
    margin-left: 0.5em; }
  .l-lang__zh p {
    margin-left: 0.5em; }

@supports (-ms-ime-align: auto) {
  .l-lang__zh {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb; }
    @media all and (max-width: 79.9375em) {
      .l-lang__zh {
        width: 100%; } }
    .l-lang__zh .ms-wrapper {
      -webkit-writing-mode: vertical-rl;
          -ms-writing-mode: tb-rl;
              writing-mode: vertical-rl;
      max-height: 60vh; } }

@supports not ((-webkit-writing-mode: vertical-rl) or (writing-mode: vertical-rl)) {
  .l-lang__zh {
    margin-left: initial; } }

.l-post__bottom {
  position: relative;
  height: 3em;
  margin-top: 1em; }
  @media all and (max-height: 43.6875em) {
    .l-post__bottom {
      height: auto; } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .l-post {
    padding-top: 1em; }
  .l-lang__zh {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    margin-top: 1em; } }
  @media all and (-ms-high-contrast: none) and (max-width: 79.9375em) {
    .l-lang__zh {
      width: 100%; } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .l-lang__zh .ms-wrapper {
      -webkit-writing-mode: vertical-rl;
          -ms-writing-mode: tb-rl;
              writing-mode: vertical-rl;
      max-height: 60vh; }
  .l-post__bottom {
    height: auto; } }

@media all and (max-width: 44.9375em) {
  .l-audio {
    margin-bottom: 0.5em; } }

@media all and (max-height: 43.6875em) {
  .l-prev,
  .l-next {
    padding-bottom: 0.5em; } }

@media all and (min-width: 45em) {
  .l-prev,
  .l-next {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); } }

@media all and (min-width: 45em) {
  .l-prev {
    left: 1em; } }

@media all and (min-width: 45em) {
  .l-next {
    right: 1em; } }

.l-home-link {
  position: fixed;
  top: 0.5em; }
  .l-home-link img {
    width: 2em;
    height: 2em;
    display: inline-block;
    vertical-align: middle; }

@supports (background-image: linear-gradient(to bottom, #f4f1ee, #fff)) {
  .lang-toggle__en,
  .lang-toggle__zh {
    line-height: 3em; }
  .lang-toggle__zh {
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    height: 3em;
    text-align: center; }
  input[name="language"] {
    float: left;
    opacity: 0;
    position: absolute; }
    input[name="language"] ~ label {
      background-color: #f4f1ee;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f1ee), to(#fff));
      background-image: -o-linear-gradient(top, #f4f1ee, #fff);
      background-image: linear-gradient(to bottom, #f4f1ee, #fff);
      border-radius: 50%;
      -webkit-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.3), inset 0 4px 1px 1px #fff, inset 0 -3px 1px 1px rgba(204, 198, 197, 0.5);
              box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.3), inset 0 4px 1px 1px #fff, inset 0 -3px 1px 1px rgba(204, 198, 197, 0.5);
      display: inline-block;
      vertical-align: middle;
      padding: 0.5em;
      font-size: 75%;
      -webkit-transition: background 0.1s linear, -webkit-box-shadow 0.1s linear;
      transition: background 0.1s linear, -webkit-box-shadow 0.1s linear;
      -o-transition: background 0.1s linear, box-shadow 0.1s linear;
      transition: background 0.1s linear, box-shadow 0.1s linear;
      transition: background 0.1s linear, box-shadow 0.1s linear, -webkit-box-shadow 0.1s linear;
      margin: 0 1em 1em; }
  .l-toggle__en:checked ~ label[for="lang-en"],
  .l-toggle__zh:checked ~ label[for="lang-zh"] {
    background-color: #efedec;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#efedec), to(#f7f4f4));
    background-image: -o-linear-gradient(top, #efedec, #f7f4f4);
    background-image: linear-gradient(to bottom, #efedec, #f7f4f4);
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4), inset 0 -3px 1px 1px rgba(204, 198, 197, 0.5);
            box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4), inset 0 -3px 1px 1px rgba(204, 198, 197, 0.5);
    color: #4cb09c;
    text-shadow: 1px 1px 3px #5db9a6; }
  .l-toggle__en:focus ~ label[for="lang-en"],
  .l-toggle__zh:focus ~ label[for="lang-zh"] {
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4), inset 0 -3px 1px 1px rgba(204, 198, 197, 0.5), 0 0 0.3em 1px #4cb09c, 0 1px 1px rgba(255, 255, 255, 0.8);
            box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4), inset 0 -3px 1px 1px rgba(204, 198, 197, 0.5), 0 0 0.3em 1px #4cb09c, 0 1px 1px rgba(255, 255, 255, 0.8); } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .lang-toggle__en,
  .lang-toggle__zh,
  input[name="language"] {
    display: none; } }

@supports not (background-image: linear-gradient(to bottom, #f4f1ee, #fff)) {
  .lang-toggle__en,
  .lang-toggle__zh,
  input[name="language"] {
    display: none; } }

.l-contact {
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.c-contact {
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0; }
  .c-contact:target {
    visibility: visible;
    opacity: 1; }

.l-contact__close {
  position: absolute;
  z-index: 3;
  right: 0.5em;
  top: 0.25em; }

.l-contact__form {
  position: relative;
  padding: 1em; }
  @media all and (max-width: 33.6875em) {
    .l-contact__form {
      width: calc(100vw - 2em); } }
  @media all and (min-width: 33.75em) {
    .l-contact__form {
      width: 50vw; } }
  .l-contact__form label {
    display: block;
    margin-bottom: 0.25em; }
  .l-contact__form input:not([type="submit"]),
  .l-contact__form textarea {
    margin-bottom: 0.5em; }
  .l-contact__form textarea {
    width: 100%; }
  .l-contact__form p {
    margin-bottom: 1em; }

.c-contact__form {
  background: #dbdbd0; }

.l-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1.5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }

.c-footer {
  background-color: #313b4a;
  color: #dbdbd0; }
  .c-footer a {
    color: #edbd1f; }

.c-contact__icon {
  margin-left: 0.5em;
  height: 1em;
  width: 1em; }

.c-post {
  background: -o-linear-gradient(315deg, transparent 22px, rgba(237, 189, 31, 0.3) 22px, rgba(237, 189, 31, 0.3) 24px, transparent 24px, transparent 67px, rgba(237, 189, 31, 0.3) 67px, rgba(237, 189, 31, 0.3) 69px, transparent 69px), -o-linear-gradient(225deg, transparent 22px, rgba(237, 189, 31, 0.3) 22px, rgba(237, 189, 31, 0.3) 24px, transparent 24px, transparent 67px, rgba(237, 189, 31, 0.3) 67px, rgba(237, 189, 31, 0.3) 69px, transparent 69px) 0 64px;
  background: linear-gradient(135deg, transparent 22px, rgba(237, 189, 31, 0.3) 22px, rgba(237, 189, 31, 0.3) 24px, transparent 24px, transparent 67px, rgba(237, 189, 31, 0.3) 67px, rgba(237, 189, 31, 0.3) 69px, transparent 69px), linear-gradient(225deg, transparent 22px, rgba(237, 189, 31, 0.3) 22px, rgba(237, 189, 31, 0.3) 24px, transparent 24px, transparent 67px, rgba(237, 189, 31, 0.3) 67px, rgba(237, 189, 31, 0.3) 69px, transparent 69px) 0 64px;
  background-color: rgba(237, 189, 31, 0.2);
  background-size: 64px 128px; }

.u-rotate {
  display: inline-block;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.u-txt-upright {
  text-combine-upright: all; }
