// CSS architecture for Talk.CSS website
// Developed by Chen Hui Jing <kakyou_tensai@yahoo.com>
// -----
// Structure based on ITCSS by Harry Roberts
// http://csswizardry.net/talks/2014/11/itcss-dafed.pdf
// Rationale for class name-spacing can be found at
// http://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces/

// ==========
// SETTINGS - Global variables, config switches
// ==========
@import 'settings';
// ==========
// TOOLS - Default mixins and functions
// ==========
@import 'tools';
// ==========
// GENERIC - Ground-zero styles (Normalize.css, resets, box-sizing)
// ==========
@import 'generic';
// ==========
// BASE - Unclassed HTML elements (type selectors)
// ==========
@import 'base';
// ==========
// OBJECTS - Cosmetic-free design patterns
// ==========
@import 'objects';
// ==========
// LAYOUT - Styles related to layout and positioning
// ==========
.l-about {
  text-align: center;
  min-height: calc(100vh - 8em);

  @include mappy-bp(max small) {
    padding: 1.5em 1em;
  }

  @include mappy-bp(small) {
    writing-mode: vertical-rl;
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.l-title {
  padding: 1em 0.5em;
}

.l-title__zh {
  @include mappy-bp(max small) {
    writing-mode: vertical-rl;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5em;
  }

  @include mappy-bp(small) {
    writing-mode: horizontal-tb;
  }
}

.l-title__en {
  @include mappy-bp(max small) {
    display: inline-block;
    vertical-align: middle;
  }

  @include mappy-bp(small) {
    margin-top: 0.25em;
  }
}

.l-wrapper {
  @include mappy-bp(max small) {
    margin-top: 1em;
  }

  @include mappy-bp(small) {
    margin-right: 0.5em;
  }
}

.lang-toggle__en {
  writing-mode: horizontal-tb;
}

.l-toggle__en:checked ~ .l-lang__en,
.l-toggle__zh:checked ~ .l-lang__zh {
  display: block;
}

@supports (background-image: linear-gradient(to bottom, #f4f1ee, #fff)) {
  .l-lang__en,
  .l-lang__zh {
    display: none;
  }
}

.l-lang__en,
.l-lang__zh {
  padding-top: 0.5em;
  margin: 0 auto;
}

.l-lang__en {
  writing-mode: horizontal-tb;
  max-width: 20em;
}

.l-lang__zh {
  text-align: justify;
  max-height: 15em;
  overflow-x: auto;

  @include mappy-bp(max small) {
    writing-mode: vertical-rl;
    max-width: 100%;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .l-about {
    writing-mode: horizontal-tb;
  }

  .l-header {
    max-width: 20em;
    margin: 0 auto 1em;
  }

  .l-lang__en {
    margin-bottom: 1em;
  }

  .l-lang__zh {
    writing-mode: vertical-rl;
  }
}

@supports (-ms-ime-align:auto) {
  .l-about {
    writing-mode: horizontal-tb;

    .ms-wrapper {
      @include mappy-bp(small) {
        writing-mode: vertical-rl;
      }
    }
  }
}


_:-moz-tree-row(hover), .l-about {
  writing-mode: horizontal-tb;
}

_:-moz-tree-row(hover), .l-lang__zh {
  writing-mode: vertical-rl;
  max-height: 12em;
  margin-left: 50%;
  transform: translateX(-50%);
}

_:-moz-tree-row(hover), .l-title {
  margin-bottom: 1em;
  max-width: 12em;
  margin-left: auto;
  margin-right: auto;

  @include mappy-bp(small) {
    padding: 0.5em 1em;
  }
}

_:-moz-tree-row(hover), .l-title__zh {
  writing-mode: vertical-rl;
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 0.25em;
  width: 1em;
}

_:-moz-tree-row(hover), .l-title__en {
  @include mappy-bp(small) {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0;
    margin-left: 0.25em;
  }
}

.l-home-link {
  position: absolute;

  @include mappy-bp(max small) {
    top: 8em;
  }

  @include mappy-bp(small) {
    top: 0.5em;
  }

  img {
    width: 2em;
    height: 2em;
    display: inline-block;
    vertical-align: middle;
  }
}
// ==========
// COMPONENTS - Designed components, chunks of UI
// ==========
@import 'component-langswitch';
@import 'component-newsletter';
@import 'component-contact';
@import 'component-footer';

.c-content {
  background-color: color(bg);
  color: color(txt-dark);
}

.c-title {
  background: color(txt-dark);
  color: color(txt-light);
  border-radius: 0.5em;
  border: 1px solid #fff;
  box-shadow: inset 0 0 10px #fff, 0 0 5px #fff, 0 0 10px #fff, 0 0 15px color(main), 0 0 20px color(main), 0 0 0 0.35em color(txt-dark);
}

.c-title__zh {
  font-size: calc(1em + 0.5vmax);
  text-shadow: 0 0 8px #fff, 0 0 35px color(main), 0 0 50px color(main);

  @include mappy-bp(max small) {
    letter-spacing: 0.25em;
  }
}

.c-title__en {
  font-family: $fancy-font;
  font-size: calc(1.25em + 1.5vmax);
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px color(main), 0 0 35px color(main), 0 0 40px color(main), 0 0 50px color(main), 0 0 75px color(main);

  @include mappy-bp(small) {
    text-orientation: upright;
    font-feature-settings: "vkrn", "vpal";
  }
}
// ==========
// TRUMPS - Helpers and overrides
// ==========
@import 'trumps';
// ==========
// SHAME - For ad-hoc debugging or testing. Should be empty by default.
// ==========
@import 'shame';
