---
layout: default
---
<header class="l-header c-header">
  <h1 class="c-title">
      <span class="l-title__en c-title__en">{{ page.title }}</span> | 
      <span class="l-title__zh c-title__zh" lang="zh">{{ page.title-zh }}</span>
    </h1>
</header>
<main class="l-page c-page">

  {{ content }}

  <div class="c-home-link">
    <a href="{{ site.baseurl }}/"><img src="{{ "/assets/img/home.svg" | prepend: site.baseurl }}" alt="Home link"><span>Home</span></a>
  </div>
</main>
